/** {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 100;
  text-align: right;
  margin-bottom: 0px;
}

h2 {
  font-size: 80%;
  font-weight: 400;
  text-align: right;
  margin-top: 4px;
}

h3 {
  color: #BCBBBB;
  font-weight: 400;
  font-size: 140%;
  margin-bottom: 0px;
}

h4 {
  color: #585953;
  font-size: 20px;
  text-align: center;
}

.url-proj {
  text-align: center;
  display: block;
  color: #BCBBBB;
  font-size: 80%;
}

.img-small {
  max-width: 100px;
  max-height: 100px;
}

.img-main {
  width: 100%;
  height: auto;
}

.img-proj-left {
  display: block;
  margin-left: 0px;
  margin-right: auto;
  max-width: 95%;
}

.img-proj-center {
  display: block;
  margin: auto;
  max-width: 95%;
}

.img-proj-right {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  max-width: 95%;
}

.bar {
  height: 3px;
  background-color: #BCBBBB;
  width: 100%;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
